services:
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    image: gateway
    ports:
      - "3000:3000"
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    image: api-gateway-auth-service
    ports:
      - "8001:8001"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://127.0.0.1:8001/api/v1/health" ]
      interval: 5s
      timeout: 3s
      retries: 3
    env_file:
      - "./auth-service/.env"
    
