services:
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    image: gateway
    ports:
      - "3000:3000"
  auth-service:
    build:
      context: ./auth-service
      dockerfile: Dockerfile
    image: api-gateway-auth-service
    ports:
      - "8001:8001"
    healthcheck:
      test: [ "CMD", "wget", "-qO-", "http://127.0.0.1:8001/api/v1/health" ]
      interval: 15s
      timeout: 3s
      retries: 3
    env_file:
      - "./auth-service/.env"
  task-service:
    build:
      context: ./task-service
      dockerfile: Dockerfile
    image: task-service
    ports:
      - "8002:8002"
    env_file:
      - "./task-service/.env"
  task-worker:
    build:
      context: ./task-worker
      dockerfile: Dockerfile
    image: task-worker
    env_file:
      - "./task-worker/.env"
    expose:
      - "8003"
